<div class = "create-post">
	<p>Create Your Post</p>
	<p id="title">Title</p>
	<textarea class = "create-post-text" id = "get-title"></textarea><br>
	<p id="name">Name</p>
	<textarea class = "create-post-text" id = "get-name"></textarea><br>
	<input type = "button" value = "Submit" class = "submit-post" onclick = "insertNewPost()">	
</div>	