<div class = "create-discuss">
<p>Create Your Post</p>
<textarea class = "create-post-text" id = "get-content"></textarea><br>
<input type = "button" value = "Submit" class = "submit-content" onclick = "insertNewContent()">
</div>	