
{{> header}}

<main class="twit-container">
	{{#if display}}
      {{#each twits}}
		{{> twit}}
		{{/each}}
	{{else}}
		{{> twit}}	
	{{/if}}
	  
 </main>
{{#if display}}
 {{> createTwitModal}}
 {{/if}}