body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #bfbfbf;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 25px 40px;
  font-size: 40px;
  font-weight: 100;
  background-color: #262626;
  color: #fff;
}

.navbar {
  background-color: #a6a6a6;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
	background-color: #808080;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active{
	background-color:#d9d9d9;
}

.navbar-search {
  float: right;
  margin-right: 20px;
  padding: 0;
  line-height: 38px;
}

#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: 1px solid #dadada;
  border-radius: 2px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 16px;
  background: none;
  border: none;
  color: #343434;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #808080;
}

#navbar-search-button:focus {
  color: #808080;
  outline: none;
}

.inner{
	background-color: #e6e6e6;
	margin: 40px;
	margin-right: 240px;
	padding: 0;
	float: left;
	border-radius: 6px;
}

.game-container{

	margin: 5px;
	display: flex;
	flex-wrap: wrap;
}

.game{
	display: flex;
	padding: 10px;
	margin: 10px;

	background-color: #d9d9d9;
}

.game tr td{
	border: 1px solid #737373;
}

.game-image{
	margin: 0;
	padding: 2px;
	padding-top: 5px;
}

.post-block{
	padding: 20px;
	background-color: #8c8c8c;
	margin: 10px;
	margin-right: 5%;
	float: right;
	position: absolute;
	top: 160px;
	right: 0;
}

#create-contact-us {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 35px;
  width: 80px;
  font-size: 2px;
  background-color: #737373;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#create-twit-button:focus {
  outline: none;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-game-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 300px;
  min-width: 150px;
  min-height: 100px;
  margin: 40px auto;
  margin-top: 300px;
  background-color: #737373;
  padding: 5px;
  padding-top: 0;
}

.modal-close-button {
  float: right;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.topic{
	border-collapse: collapse;
	border: 1px solid #737373;
	width: 70%;
	margin: 40px;
}

.one-post{
	height: 50px;
}

.post-title{
		padding-left: 10px;	
}

.author{
	padding-right: 10px;
	text-align: right;
}

.create-post{
	margin: 20px;
	background-color: #e6e6e6;
	margin-right: 25%;
	padding: 5px;
	position: fixed;
	bottom: 20px;
	text-align: center;
}

.create-post-text{
	height: 20px;
	 resize: none;
	 margin: 10px;
}

.submit-post{
	  font-size: 2px;
	  background-color: #737373;
	  color: #fff;
	  cursor: pointer;
	  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#title, #name{	
	padding: 0;
	margin: 0 ;
}

.in-post{
	border-collapse: collapse;
	border: 1px solid #737373;
	width: 70%;
	margin: 40px;
}

.one-content{
	height: 150px;
	border: 1px solid #737373;
}

.content{
	padding: 8px;
	
}

.delete-post-button{
	float: right;
	margin: 5px;
}

.create-discuss{
	margin: 20px;
	background-color: #e6e6e6;
	margin-right: 25%;
	padding: 5px;
}

#get-content{
	width: 90%;
	height: 80px;
	 resize: none;
	 margin: 20px;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}